* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

button:hover {
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}

.main-heading {
  position: relative;
  text-transform: capitalize;
}

.main-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--btn-color);
}

/* Registration Section */
.section-registration {
  padding: 3.2rem;

  .container {
    padding-top: 3.2rem;
    align-items: center;
  }

  .registration-form {
    label {
      display: block;
      margin: 2.4rem 0 0.8rem;
      text-transform: capitalize;
    }

    input {
      width: 80%;
      padding: 0.6rem;
      margin-bottom: 1.2rem;
    }

    button {
      margin-top: 3.2rem;
    }
  }
}

@media (max-width: 998px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .section-registration .container img {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 798px) {
  html {
    font-size: 56.25%;
  }

  .section-registration .container img {
    width: 50%;
    height: auto;
  }

  .section-registration .registration-form input {
    width: 100%;
  }
}
